<!doctype html>

<html lang="ja">
    <head>
        <title>トップページ</title>
        <meta charset="UTF-8">
        <meta http-equiv="content-language" content="ja">
        <meta name="google" content="notranslate" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="shortcut icon" href="favicon.ico">
	</head>
    <body>
        <h1>ここは、トップページです。</h1>

		<h1><%= title %></h1>
        <p>『content = <%= content %>』</p>

		<hr><center>Newjec Map</center>
        <script src="/socket.io/socket.io.js"></script>
    	<!-- 以下、bodyタグを閉じる直前で読み込むこと -->
	    <!-- 最初にjQuery、次にPopper.js、次にBootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

		<script>
        //var socket = io.connect('http://localhost:8080');
        //var socket = io.connect('http://133.167.47.45:8080');
        const socket = io();
        //const log = function () { console.log(arguments); }//log出力用
        let photUName = "";

        socket.on('connect', function () {//サーバー⇔ブラウザ間のソケットIOコネクションが確立
            console.log('connected:サーバー⇔ブラウザ間のソケットIOコネクション確立しました。');

            //サーバーへ接続を継続しても良いかどうかを問い合わせる。
            console.log('サーバーへメッセージ送信：socket.emit("Bs2Sv", "ContinueToProcess?");');
            socket.emit('Bs2Sv', 'ContinueToProcess?');//接続を継続しても良いかどうかを問い合わせる。
            return false;
        });

		socket.on("disconnect", function () {
            console.log("[disconnect]イベントが発生:");
        });
		</script>
		</body>
</html>
